@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core"

@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap')
@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap')

@import 'utility/_normalize'
@import 'utility/_base'
@import 'utility/_animation'

@import '_media'
@import '_global'

.glide
    &__bullets
        position: absolute
        bottom: 0
        right: 0
        padding: 15px 40px

    &__bullet
        display: inline-block
        width: 20px
        height: 20px
        border-radius: 50%
        
        cursor: pointer
        transition: all .3s
        border: 2px solid #fff

        &--active
            background-color: #fff

        &:not(:last-child)
            margin-right: 5px


.section
    padding: 80px 0

    &--colored-skew
        overflow: hidden
        background: linear-gradient(0, $bgcolor 50%, $main_l 50%)
        
        .skew
            background: $main_l
            box-shadow: 0 6px 6px rgba(0,0,0, .1)

    &--colored
        background: $main_l 
        

.skew
    transform: skewY(4deg)
    .container
        transform: skewY(-4deg)

.container
    width: 100%
    padding: 0 15px
    margin: 0 auto
    position: relative

    +md_tablet
        max-width: 768px

    +md_desktop
        max-width: 1200px


.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 1
    padding: 25px 0
    transition: background-color .2s

    &.active
        
        .header__logo
            color: $main

        &::after
            content: ""
            width: 100%
            height: 100%
            background-color: #fff
            box-shadow: 0 0 6px rgba(0,0,0, 0.1)
            position: absolute
            top: 0
            left: 0
            z-index: -1
            animation: slideInDown .4s

    &__container
        display: flex
        justify-content: space-between
        align-items: center

    &__logo
        margin: -15px 0
        font-size: 36px
        font-weight: bold
        letter-spacing: -3px
        color: #fff
        font-family: 'Poppins', sans-serif
        text-shadow: 0 3px 4px rgba(0,0,0, .2)

        &:hover
            color: #fff
        

    &__area
        flex: 1

        &:first-child
            display: flex
            justify-content: space-between
            align-items: center

    &__search-btn
        margin-right: 30px
        

.navigation
    margin: 0
    padding: 0
    list-style-type: none
    display: flex
    margin-left: 70px

    &__item
        font-weight: bold

        &:not(:last-of-type)
            margin-right: 30px

        &.active
            color: $main

.hero
    &__container
        display: flex

    &__content
        margin: auto 0
        padding-left: 70px
        width: 100%
        max-width: 500px

    &__area
        flex: none
        width: 50%

        &:last-child
            display: flex
.slider
    margin: 0

    &__wrap
        border-radius: 0 0 42px 0

    &__item
        position: relative
        height: 635px
        overflow: hidden
        cursor: grab
    
    &__image
        position: absolute
        top: 0;
        right: 0
        max-width: initial

        

.intro
    display: flex

    &__area
        flex: 1

    &__image
        margin: -80px 0

.works
    padding-top: 0
    margin-top: -80px

.portfolio
    display: flex

    &__area
        flex: 1

    &__box
        &:not(:first-child)
            padding-top: 40px

        &:not(:last-child)
            padding-bottom: 40px
            border-bottom: 5px dashed $main_d

    &__card
        display: flex
        box-shadow: 2px 2px 6px rgba(0,0,0, 0.2)
        border-radius: 5px
        overflow: hidden

        &:not(:last-child)
            margin-bottom: 40px

        &:nth-child(even)
            flex-direction: row-reverse

        &__img
            display: block
            position: relative
            min-height: 290px
            width: 50%
            overflow: hidden
            flex: none

            &:hover
                img
                    transform: scale(1.5) rotate(10deg)

            img
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                margin: auto
                transition:  transform .5s
                will-change: transform

        &__area
            flex: 1
            padding: 20px
            background: $main_l
        &__meta
            margin-bottom: 10px

        &__title
            font-size: 22px
            font-weight: bold
            margin-bottom: 15px

        &__description
            margin-bottom: 0

    &__navigation
        position: sticky
        top: 80px
        left: 0
        margin: 0
        padding: 0
        list-style-type: none
        padding-left: 70px

        &__item
            font-size: 62px
            letter-spacing: -5px
            font-weight: bold
            color: $main
            
            a:hover,
            &.active a
                color: $main_d                

.about
    display: flex

    &__area
        flex: 1

        &:last-child

            img
                margin-left: 70px

.achives
    padding-top: 20px
    display: flex
    justify-content: space-between

    &__item
        letter-spacing: -3px
        font-size: 36px
        line-height: 30px

    &__number
        font-size: 92px
        line-height: 1
        color: $main

.services
    position: relative
    overflow: hidden
    padding: 175px 0
    box-shadow: inset 0 5px 15px rgba(0,0,0, .2)

    .container
        +clearfix

    &__background
        position: absolute
        top: 0 
        right: 55%
        color: $main
        font-size: 194px
        line-height: 1
        font-weight: bold
        list-style-type: none
        margin: 0
        padding: 0
        opacity: 0.4;

    &__area
        float: right
        width: 50%

    &__list
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin: 0 0 -50px
        padding: 0
        list-style-type: none

        &::after
            content: ""
            width: 150px

        &__image
            display: block
            width: 100%
            height: 150px
            transition: opacity .3s
            will-change: opacity

        &__item
            font-size: 22px
            flex: none
            width: 150px
            margin-bottom: 50px
            text-align: center

            &:hover

                .services__list__image
                    opacity: .7

        &__name
            color: $main
            
            &:hover
                color: $main_d


.parallax
    padding: 0
    height: 400px
    overflow: hidden
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    filter: brightness(0.2)

.blog
    display: flex
    justify-content: space-between

    &__card
        width: 350px
        border-radius: 10px
        overflow: hidden
        box-shadow: 2px 2px 6px rgba(0,0,0,.2)

        &:hover
            .blog__card__image
                img
                    transform: scale(1.4) rotate(10deg)
                    filter: saturate(1)


        &__image
            display: block
            position: relative
            overflow: hidden
            height: 200px

            img
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                margin: auto
                filter: saturate(0.5)
                transition:  all 1s cubic-bezier(0.175, 0.885, 0, 1)
                will-change: transform
        
        &__date
            position: absolute
            bottom: 0
            left: 0
            color: #fff
            padding: 10px
            text-shadow: 0 0 6px rgba(0,0,0, .3)

        &__num
            font-size: 30px

        &__area
            padding: 20px
            background-color: #fff

        &__text
            margin: 0 0 20px

        &__link
            color: $main
            font-weight: bold

.footer
    background-color: $main
    background-image: url(../image/fake-brick.png);
    color: #fff        

    &__area
        padding: 20px 0
        display: flex
        justify-content: space-between

    &__item
        flex: 1
        padding-right: 40px

    &__list
        margin: 0
        padding: 0
        list-style-type: none

        &__item
            &:not(:last-child)
                margin-bottom: 10px

            a:hover
                color: $main_d


    &__title
        font-weight: bold
        font-size: 24px
        margin-bottom: 10px
        color: $main_d